

 .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: #1d72e7 !important;
  width: 17rem !important;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

