/* css class for local */

.OutlinedBasic fieldset {
  border-color: blueviolet !important;
  width: 17rem !important;
}



/* --css class for local */

/* css class in  deploy */


/*-- css class in  deploy */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.red{
  color: red;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

.green {
  color: green;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}
