.row {
    display: flex;
    justify-content: space-between;
}
.row .col-10 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em;
 
}

.photo{
    width: 12rem;
    height: 12rem;
}

.photo img {
    width: 100%;
    height: 100%;
}